{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}

    <h1>Мультфильмы </h1>
    <h2>Принцесса и лягушка</h2>
        <img src="{{ url_for('static', filename='pr.jpeg') }}" height='350px' style="padding-left: 450px;"> 

    <div>
        <b>«Принцесса и лягушка»</b>  — 49-й по счёту полнометражный анимационный фильм студии Уолта Диснея по книге Элизабет Бэйкер. 
        Первый после продолжительного перерыва полнометражный фильм студии, выполненный в технике традиционной (рисованной) анимации. 
        Режиссёры мультфильма — <i>Джон Маскер </i>и <i>Рон Клементс</i> («Русалочка», «Аладдин» и другие), композитор — <i>Рэнди Ньюман</i>. 
        Фильм продолжает традиции диснеевских мультфильмов-мюзиклов.
    </div>
    <p>

        25 ноября 2009 года мультфильм вышел в ограниченный прокат в США, а 11 декабря — в широкий прокат. Премьера фильма в России — 1 января 2010 года.
    </p>
    <div>
        Мультфильм был номинирован на кинопремию <b>«Золотой глобус»</b> и на премию <b>«Оскар»</b> в номинации <u>«Лучший полнометражный мультипликационный фильм»</u>.
    </div>

    <h2>Храбрая сердцем</h2>
     
    <img src="{{ url_for('static', filename='hr.jpg') }}" height='500px' style="padding-left: 500px;"> 

    <div>
        <b>«Храбрая сердцем»</b> (англ. Brave) — американский компьютерно-анимационный фэнтезийный фильм компаний Pixar и Walt Disney Pictures.
    </div>
    <p>
        Обладатель премии <b>«Оскар» </b>2013 года в номинации <u>«Лучший анимационный полнометражный фильм»</u> и премии <b>«Золотой глобус»</b> в той же категории.
    </p>

    
    <h2>Мулан</h2>
     
    <img src="{{ url_for('static', filename='ml.avif') }}" height='350px' style="padding-left: 450px;"> 

    <div>
        <b>«Мула́н»</b>  — полнометражный мультипликационный фильм, выпущенный 19 июня 1998 года студией <i>Walt Disney Pictures </i>
        и ставший 36-м по счёту полнометражным мультипликационным фильмом среди всех выпущенных студией. 
        В основу фильма положена средневековая китайская баллада о Хуа Мулань — женщине, вступившей в ряды армии.
    </div>

    <h2>Клаус</h2>
     
    <img src="{{ url_for('static', filename='kl.jpg') }}" height='500px' style="padding-left: 600px;"> 

    <div>
        <b>«Клаус»  </b>— испанский полнометражный анимационный фильм режиссёра Серхио Паблоса , 
        известного как один из создателей франшизы <i>«Гадкий Я»</i> и миньонов. 
    </div>
    <p>
        <b>«Клаус» </b>получил всеобщее признание критиков, похваливших мультфильм за его красивую рисованную анимацию, 
        юмористический и трогательный рассказ, делающий «Клауса» незаменимым кандидатом на статус рождественской классики.
    </p>

    <h2>Моана</h2>
     
    <img src="{{ url_for('static', filename='mo.jpg') }}" height='500px' style="padding-left: 450px;"> 

    <div>
        <b>«Моана»</b>  — 56-й полнометражный мультфильм <i>Walt Disney Animation Studios</i>.
         Первоначально сюжет этого фильма был описан как «история мифического приключения, 
         произошедшего 2000 лет назад в островах южной части Тихого океана».
    </div>
    
    



    
    
{% endblock  %}